{% if items %}
    <div>
        <div>
            <ul class="flex items-center gap-6 menu-links">
                {% for item in items %}
                    <li class="hidden text-sm md:block lg:text-mainMenu lg:px-2.5 last:btn last:block">
                        <a href="{{ item.url }}"
                           class="{{ item.in_active_trail ? 'text-theme-gold1' : '' }} transition-colors">
                            {{ item.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="fixed secondMenu left-0 w-full bg-theme-gold md:hidden">
            <ul class="flex items-center overflow-x-auto">
                {% for item in items %}
                    <li class="text-sm last:hidden p-3 min-w-fit">
                        <a href="{{ item.url }}"
                           class="text-theme-white">
                            {{ item.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>


{% endif %}
