{# themes/custom/home_designer_theme/templates/page.html.twig #}
<div{{ attributes.addClass('page')}} class="relative">
    <header role="banner" class="fixed min-h-24 flex-center z-50 top-0 left-0 bg-gray-600 right-0 text-theme-white">
        <div class="container mx-auto md:px-2">
            <div class="flex min-h-max justify-between items-center">
                {{ page.header }}
            </div>
        </div>
    </header>

    <main role="main" class="mt-24">
        <div class="content">
            {{ page.content }}
        </div>
        {% if page.sidebar %}
            <div class="sidebar">
                {{ page.sidebar }}
            </div>
        {% endif %}
    </main>

    <footer role="contentinfo">
        <div class="footer-top">
            {{ page.footer_first }}
            {{ page.footer_second }}
            {{ page.footer_third }}
            {{ page.footer_fourth }}
        </div>
        <div class="footer-bottom">
            {{ page.footer_bottom }}
        </div>
    </footer>

</div>
