{# themes/custom/home_designer_theme/templates/page.html.twig #}
<div{{ attributes.addClass('page')}} class="relative">
    <header role="banner" class="fixed min-h-24 flex-center z-50 left-0 right-0 text-theme-white
 {{ is_front ? 'bg-transparent' : 'bg-theme-green mb-28' }}">
        <div class="container mx-auto md:px-2">
            <div class="flex min-h-max justify-between items-center">
                {{ page.header }}
            </div>
        </div>
    </header>

    <main role="main" class="{{ not is_front ? 'mt-28' }}">
          {{ page.content }}
        {% if page.sidebar %}
                {{ page.sidebar }}
        {% endif %}
    </main>


    <footer role="contentinfo" class="footer relative text-theme-white">
        <div class="container relative z-10 ">
            <div class="grid grid-rows-4 md:grid-cols-4 md:grid-rows-1 gap-4 pt-14 pb-7 lg:pt-20 lg:pb-10">
                {{ page.footer_first }}
                {{ page.footer_second }}
                {{ page.footer_third }}
                <div class="configPage">
                    {{ page.footer_fourth }}
                </div>

            </div>
            <div class="text-[13px] pt-2 !pb-5 lg:!py-5 text-center">
                {{ page.footer_bottom }}
            </div>
        </div>
    </footer>

</div>
